# Questions

## Question 1

**How do you tell Python that a variable is a string (characters) instead of a number?**

In [ ]:
name="anjali"
age=25

In [ ]:
type (name)

In [ ]:
type (age)

Answer : str(name) int(age)

## Question 2

**Once you have created a variable, can you change the value that is assigned to it?**

In [ ]:
name="shakshi"

In [3]:
name='Riya'

Answer:yes

## Question 3

**With variable names, is TEACHER the same as TEACHEr?**

In [ ]:
TEACHER=1
print(TEACHER)

In [ ]:
TEACHER=1
print(TEACHEr)

Answer:No

## Question 4

**Is 'Blah' the same as "Blah" to Python?**

In [ ]:
word='Blah'
print(word)
print (type(word))

In [ ]:
word="Blah"
print(word)
print (type(word))

Answer:yes

## Question 5

**Is '4' the same as 4 to Python?**

In [ ]:
four=4
print(four)
print (type(four))

In [ ]:
four='4'
print(four)
print (type(four))

Answer:yes

## Question 6

**Which of the following is not a correct variable name? Why?**

**a) Teacher2 <br> b) 2Teacher <br> c) teacher_25 <br> d) TeaCher**

In [ ]:
Teacher2=10

In [ ]:
2Teacher=10

In [ ]:
teacher_25=10

In [ ]:
TeaCher=10

Answer:2Teacher

## Question 7

**Is "10" a number or a string?**

In [ ]:
ten="10"
print (type(ten))

Answer:String

## Question 8

**What is the value of variable n after the following instructions are executed?**

    j=5

    k=10

    n=j*k

In [ ]:
j=5
k=10
n=j*k
print (n)

Answer:50

## Question 9

**Exactly what is output by the following if the user enters 24 in response to the input prompt.**

age=input('How old are you?: ')

print('You are', age, 'years old')

In [ ]:
age=input('How old are you?: ')
print('You are', age, 'years old')

Answer:You are 24 years old